@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
.form-items {
  width: 600px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.form-items p{
  text-align: center;
  color: white;
  font-size: 24px;
    font-weight: 500;
}

.input-fields,
.txt-area {
  width: 100%;
}

.input {
  font-size: 16px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,.2);
  margin-bottom: 33px;
  padding: 16px;
  color: #ccc;
  width: 100%;
  outline: none;
  font-family: "New Tegomin", serif;
  font-size: 16px;
}
.footer {
  background-color: black;
  color: black;
}

.txt-area textarea {
  height: 212px;
  font-family: Poppins,Arial,helvetica neue,sans-serif;
}

::-webkit-input-placeholder {
  color: #ccc;
}

::-moz-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

.submit-btn {
  background: #57b846;
  text-align: center;
  padding: 0 33px;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.submit-btn:hover {
  background: #4dae3c;
  color: whitesmoke;
}

@media screen and (max-width: 600px) {
  .form-items {
    flex-direction: column;
  }

  .txt-area textarea {
    height: 100px;
  }

  .input {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .txt-area textarea {
    height: 80px;
    width: 300px;
  }
  .form-items {
    width: 350px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(0 0 0 / 80%);
    height: 400px;
  }
  .input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    width: 200px;
  }
  .content h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: normal;
    letter-spacing: 0.08rem;
    margin-bottom: 1rem;
    padding-top: 2px;
  }
}
