.artist-cover {
  padding: 24px auto;
  text-align: center;
  background-color: rgba(21, 22, 30, 0.7);
}

@media only screen and (max-width: 960px) {
  .artist-cover {
    padding-top: 16px;
    height: 50%;
  }
  .title-svg {
    height: 80%;
    width: 80%;
  }
}
