.artist-cover {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: white;
}

.artist-cover img {
    width: 128px;
    height: 128px;
}

.avatar img {
    border-radius: 50%;
}