@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap');

:root{
  --primary: rgba(20, 45, 71, 1);
  --secondary: #182848;
  --error: #ff4a4a;
}

html {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}


form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid green;
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: green;
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: green;
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: red;
}

.progress-bar{
  height: 5px;
  max-width: 500px;
  background: green;
  margin-top: 20px;
  margin-left: 32%;
}

.image-grid{
  margin: 20px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px;
  grid-gap: 20px;
}
.image-wrap{
  /* overflow: hidden; */
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.image-wrap img{
  margin-left: 100px;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}